::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #2cd7ff
}
.filtrado {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    background: linear-gradient(transparent, #181818); 
}

.input{
    outline: none;
    border: 1px solid #080808;
    border-radius: 8px;
    opacity: 0.9;
    width: 100%;
    padding: 4px 12px 4px 12px;
    color: #080808;
}

.contenedor_inputs{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (min-width:850px) {
    .CustomGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 38px;
    }
}

