.scroll{
    scrollbar-color: #2cd7ff #080808 !important;
    
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #2cd7ff
}

html{
    min-width: 390px;
}
